label{
    padding:0 20px 0 5px;
}
label[For="search"]{
    font-size:25px;
}

fieldset > legend{
    font-size:18px; 
    padding-top:5px;
  }

form{
    background-color:#ceefe4;
    padding-bottom:15px;
}

@media screen and (min-width:992px){
form{
    margin-top:100px;
}

fieldset > legend{
    font-size:20px; 
    padding-top:15px;
  }
  label[For="search"]{
    font-size:30px;
}
}
